* {
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
}

h2 {
    color: blue;
}

p {
    color: black;
}

.destacado {
    color: blue;
}

.aviso {
    padding: 0.5em;
    border: 1px solid #98be10;
    background: #f6feda;
}

.error {
    color: #930;
}

p.destacado {
    color: orange;
}