* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red;
    border-radius: 10px; */
}

body {
    background-color: rgb(240, 238, 238);
}

.barra-contacto {
    background-color: rgb(133, 194, 202);
    color: white;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.barra-contacto p {
    font-size: 30px;
}

.banner {
    height: 30em;
    overflow: hidden;
}

.profile-img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.name {
    font-weight: bold;
    font-size: 30px;
}

section, header {
    border: 1px solid gray;
    border-radius: 10px;
}

.acerca-de {
    align-items: center;
}

.logo-emp-inst {
    width: 90px;
    height: 90px;
    border-radius: 75px;
}